/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Source Sans Pro', sans-serif;*/
.navbar-mia{
    background-color: lightblue;
    font-weight: 800 ;
    font-family: Roboto;
}
.btn-mio:hover{
    background-color: violet;
}
body{
    background-color: aquamarine;
    background-repeat: no-repeat;
}
.container-mio{
    border: 2px solid blue;
}
.fd{
    background-color: darkturquoise;
    color: black;
    font-family: roboto;
}
.fd1{
    background-color: darkturquoise;
    color: black;
    font-family: roboto;
    font-weight: bold;
}